body{
    margin:0;
}

#menu {
  float: left;
  background-color: #1E1E1E;
  width: 60px;
  height: 100%;
  position:fixed;
}
#editor {
    background-color:#1E1E1E;
    margin-left: 410px;
    height: 100%;
    position:fixed;
    width: calc(100% - 410px);

}
#sidebar {
    background-color: #151515;
    left: 60px;
    width: 350px;
    float: left;
    height: 100%;
    position: fixed;
}
#split-bar {
    background-color:#151515;
    height:100%;
    float: right;
    width: 6px;
    cursor: col-resize;
}